.database{
	border: 1px solid #ffc13f;
    border-radius:5px;
	display: inline; 
	float: left; 
	height: 236px; 
	width: 114px;
	line-height: 18px; 
	margin: 18px; 
	background: url(http://kmkosipil.googlecode.com/svn/trunk/database/img/bg.profilee.png)

}
.dbimg{
	margin: 3px;
	height: 142px;  
	width: 107px;
    border-radius:5px;
}
.dbfont{
	margin: 0px 7px 7px; 
	padding: 10px 0px 0px; 
	text-align: center;
	color: white;
	font-size: 18px; 
	font-family: Georgia, Times New Roman, serif;
}
.dbfont a{
	color: #ffc13f; 
	text-decoration: none;
}
.dbfont a:hover {
	color: white;
}
.bg_hitam {
        display: none;
        position: absolute;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #C2C2C2;
        z-index:1001;
        -moz-opacity: 0.80;
        opacity:.80;
        filter: alpha(opacity=80);
    }
.kotak {
        display: none;
        position: absolute;
        position: fixed;
        top: 20%;
        left: 25%;
        width: 47%;
        height: 48%;
        padding: 16px;
        border: 3px solid #ffc13f;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px 0.1px #242424;
        z-index:1002;
        overflow: auto;
		text-align:left;
    }
.tutupp{
	position: absolute; right:30px; top:23px
}
.headerfancy{
	background-image: url(../img/bg.png); 
	background-repeat: no-repeat no-repeat;
	border-radius:3px;
	font-size: 12px; 
	height: 40px; 
	margin: 0px 0px 18px;
	width: 640px;
}
.judull{
	color: #ffc13f; 
	font-size: 26px; 
	font-weight: bold; 
	margin: 0px 0px 0px 60px; 
	padding: 10px 0px 0px; 
}
.postt{
	font-size: 12px; 
	margin: 0px 20px; 
	width: 620px;
}
.biobground{
	background-image: url(../img/bgg.png); 
	background-position: 100% 100%; 
	background-repeat: no-repeat no-repeat;
}
.biowrap{
	border-radius: 5px;
	border: 1px solid #ffc13f; 
	font-style: inherit; 
	height: 229px; 
	margin: 0px 0px 18px; 
	width: 568px;
}
.photoo{
	background-color: transparant;
	color: #333333; 
	display: inline; 
	float: left; 
	font-family: Arial, Helvetica, sans-serif; 
	line-height: 18px; 
	margin: 0px 20px 0px 0px; 
	width: 179px;
}
.imgphotoo{
	font-style: inherit; 
	margin: 10px;
	vertical-align: baseline;
	height:209px;
	width:155px;
	border-radius:10px;
}
.bioo{
	color: #333333; 
	float: left; 
	margin-top:5px;
	font-family: Arial, Helvetica, sans-serif; 
	line-height: 19px;
	width: 350px;
}.garisbioo{
	border-bottom-color: #ffc13f; 
	border-bottom-style: dotted; 
	border-width: 0px 0px 1px; 
	font-size: 14px; 
}
.bioleft{
	display: inline; 
	float: left; 
	font-weight: bold; 
	margin: 3px 0px; 
	width: 130px;
}
.bioleftt{
	display: inline; 
	float: left; 
	font-weight: bold; 
	margin: 5px 0px; 
	width: 130px;
}
.bioright{
	float: left; 
	margin: 3px 0px 0px 10px; 
	width: 190px;
}
.bioright a{
	color: #ffc13f; 
	outline: none; 
	text-decoration: none; 
}
.clearr{
	clear: both; 
	height: 1px; 
	overflow: hidden; 
}